body {
  background-color: aliceblue;
}

#main {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

#etchContainer {
  width: 600px;
  height: 600px;
  background-color: grey;
  outline: 4px solid black;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 4px;
  height: 4px;
  outline: 1px solid black;
}

#customization {
  width: 300px;
  height: 600px;
  background-color: grey;
  outline: 4px solid black;
  justify-self: center;
}

/* SLIDER BLOCKS */

.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.value-container {
  margin-bottom: 15px;
}

#demo {
  color: rgb(143, 134, 180);
  font-size: 25px;
}

.slider {
  height: 10px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  border-radius: 15px;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  height: 18px;
  width: 18px;
  background-color: crimson;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}
