body {
  background-color: #d99ca5;
}

* {
  font-family: "Lobster", cursive;
}

#main {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#title {
  text-align: center;
  margin: 2rem;
  font-size: 3.5rem;
  font-family: "Silkscreen", cursive;
}

#etchContainer {
  width: 600px;
  height: 600px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box {
  /* outline: 1px solid black; */
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#customization {
  width: 300px;
  height: 600px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 0.5rem;
  width: 9rem;
  height: 2.5rem;
  border-radius: 20%;
  font-size: 1.2rem;

}

#colorPicker {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  -webkit-appearance: none;
  width: 95px;
  height: 95px;
}
#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttonActive {
  background-color: aqua;
}

/* SLIDER BLOCKS */

.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.value-container {
  margin-bottom: 15px;
}

#demo {
  font-size: 25px;
}

.slider {
  height: 10px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  border-radius: 15px;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  height: 18px;
  width: 18px;
  background-color: crimson;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}
